<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 sm4 class='pr-2 pb-2'>
        <div elevation-4 class="elevation-4 card">
          <v-list two-line>
            <v-list-tile avatar>
              <v-list-tile-avatar>
                <v-btn icon class='mx-auto' color="success">
                  <v-icon width='40px' class="white--text" medium >attach_money</v-icon>
                </v-btn>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title class='title green--text'>$164,721,211</v-list-tile-title>
                <v-list-tile-sub-title class='grey--text text--darken-2'>Saldo contable</v-list-tile-sub-title>
              </v-list-tile-content>
              </v-list-tile>
          </v-list>
        </div>
      </v-flex>
      <v-flex xs12 sm4 class='pr-2 pb-2'>
        <div elevation-4 class="elevation-4 card">
          <v-list two-line>
            <v-list-tile avatar>
              <v-list-tile-avatar>
                <v-btn icon class='mx-auto' color="orange">
                  <v-icon width='40px' class="white--text" medium >attach_money</v-icon>
                </v-btn>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title class='title green--text'>$164,721,211</v-list-tile-title>
                <v-list-tile-sub-title class='grey--text text--darken-2'>Saldo contable</v-list-tile-sub-title>
              </v-list-tile-content>
              </v-list-tile>
          </v-list>
        </div>
      </v-flex>
      <v-flex xs12 sm4 class='pr-2 pb-2'>
        <div elevation-4 class="elevation-4 card">
          <v-list two-line>
            <v-list-tile avatar>
              <v-list-tile-avatar>
                <v-btn icon class='mx-auto' color="success">
                  <v-icon width='40px' class="white--text" medium >attach_money</v-icon>
                </v-btn>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title class='title green--text'>$164,721,211</v-list-tile-title>
                <v-list-tile-sub-title class='grey--text text--darken-2'>Saldo contable</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>
