<template>
<v-container>
<v-layout  row-wrap width='100%'>
  <v-card>
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
      :loading="false"
      v-model="selected"
      select-all
      item-key="name"
    >
    
      <template slot="headers" slot-scope="props">
      <tr>
        <th>
          <v-checkbox
            :input-value="props.all"
            :indeterminate="props.indeterminate"
            primary
            hide-details
            @click.native="toggleAll"
          ></v-checkbox>
        </th>
        <th
          v-for="header in props.headers"
          :key="header.text"
          :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
          @click="changeSort(header.value)"
        >
          <v-icon small>arrow_upward</v-icon>
          <v-tooltip bottom>
            <span slot="activator">
              {{header.text}}
            </span>
            <span>
              {{header.text}}
            </span>
          </v-tooltip>
        </th>
      </tr>
    </template>
      <template slot="items" slot-scope="props">
      <tr :active="props.selected" @click="props.selected = !props.selected">
        <td >
          <v-checkbox
            :input-value="props.selected"
            primary
            hide-details
          ></v-checkbox>
        </td>
        <td >{{ props.item.name }}</td>
        <td class="text-xs-right">{{ props.item.calories }}</td>
        <td class="text-xs-right">{{ props.item.fat }}</td>
        <td class="text-xs-right">{{ props.item.carbs }}</td>
        <td class="text-xs-right">{{ props.item.protein }}</td>
        <td class="text-xs-right">{{ props.item.iron }}</td>
        <td class="text-xs-right">{{ props.item.estado }}</td>
        <td class="text-xs-right">{{ props.item.actualizacion }}</td>
        <td class="justify-center layout px-0">
          <v-btn icon class="mx-0" @click="">
            <v-icon color="blue">swap_horiz</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="">
            <v-icon color="blue">refresh</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="">
            <v-icon color="blue">group</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="">
            <v-icon color="blue">edit</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="">
            <v-icon color="red">delete</v-icon>
          </v-btn>
        </td>
      </tr>
    </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</v-layout>
</v-container>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
        headers: [
          {
            text: 'Nombre',
            align: 'left',
            value: 'name',
          },
          { text: 'Cuenta', value: 'cuenta' },
          { text: 'Saldo Contable', value: 'saldo_contable' },
          { text: 'Saldo retenciones', value: 'saldo_retenciones' },
          { text: 'Saldo Disponible', value: 'saldo_disponible' },
          { text: 'Tipo', value: 'tipo_de_cuenta' },
          { text: 'Estado', value: 'estado' },
          { text: 'Ultima actualizacion', value: 'ultima_actualizacion' },
          { text: 'Acciones', value: 'accion' }
        ],
        desserts: [
          {
            value: false,
            name: 'Frozen Yogurt',
            calories: 159,
            fat: 6.0,
            carbs: 24,
            protein: 4.0,
            iron: '1%',
            estado: 'invalida',
            actualizacion: '12/05/2018 18:47'
          },
          {
            value: false,
            name: 'Ice cream sandwich',
            calories: 237,
            fat: 9.0,
            carbs: 37,
            protein: 4.3,
            iron: '1%',
            estado: 'procesada',
            actualizacion: '12/05/2018 18:47'
          },
          {
            value: false,
            name: 'Eclair',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
            iron: '7%'
          },
          {
            value: false,
            name: 'Cupcake',
            calories: 305,
            fat: 3.7,
            carbs: 67,
            protein: 4.3,
            iron: '8%'
          },
          {
            value: false,
            name: 'Gingerbread',
            calories: 356,
            fat: 16.0,
            carbs: 49,
            protein: 3.9,
            iron: '16%'
          },
          {
            value: false,
            name: 'Jelly bean',
            calories: 375,
            fat: 0.0,
            carbs: 94,
            protein: 0.0,
            iron: '0%'
          },
          {
            value: false,
            name: 'Lollipop',
            calories: 392,
            fat: 0.2,
            carbs: 98,
            protein: 0,
            iron: '2%'
          },
          {
            value: false,
            name: 'Honeycomb',
            calories: 408,
            fat: 3.2,
            carbs: 87,
            protein: 6.5,
            iron: '45%'
          },
          {
            value: false,
            name: 'Donut',
            calories: 452,
            fat: 25.0,
            carbs: 51,
            protein: 4.9,
            iron: '22%'
          },
          {
            value: false,
            name: 'KitKat',
            calories: 518,
            fat: 26.0,
            carbs: 65,
            protein: 7,
            iron: '6%'
          }
        ],
        selected: [],
        pagination: {
        sortBy: 'name'
      },
      }
    },
    methods: {
      toggleAll () {
        if (this.selected.length) this.selected = []
        else this.selected = this.desserts.slice()
      },
      changeSort (column) {
        if (this.pagination.sortBy === column) {
          this.pagination.descending = !this.pagination.descending
        } else {
          this.pagination.sortBy = column
          this.pagination.descending = false
        }
      }
  }
}
</script>