<template>
  <v-app>
    <v-navigation-drawer
      width='200'
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
      style="background: linear-gradient(135deg,#00aad2,#0c86e2);"
      class="elevation-4"
      >
        <v-list three-line class="pa-0" style="background: linear-gradient(135deg,#00aad2,#0c86e2);">
          <v-list-tile column align-center avatar ripple @click="">
            <v-list-tile-action style="min-width:100%;" class="align-center justify-center">
              <a href="/"><img src="@/assets/logo.png" alt="atlas" height="70px" width="70px"></a>
            </v-list-tile-action>
          </v-list-tile>
          <v-list-tile v-for="(item,i) in items" :key="i" ripple @click="">
          <v-list-tile-action style="min-width:100%;" class="align-center justify-center">
            <v-icon avatar class="display-1 mb-2" large color='white'>{{item.ico}}</v-icon>
            <v-list-tile-sub-title style='width:auto;' v-show="!hidden" class='text-xs-center white--text'>{{ item.title }}</v-list-tile-sub-title>
          </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    <v-toolbar
      app
      :clipped-left="clipped"
      height='72px'
    >
      <v-toolbar-side-icon class="btn-top-bar grey--text text--darken-2" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn class="btn-top-bar grey--text text--darken-2 hidden-sm-and-down" icon @click.stop="miniVariant = !miniVariant" @click.native="hidden = !hidden">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn>
      <v-btn class="btn-top-bar grey--text text--darken-2 hidden-sm-and-down" icon @click.stop="clipped = !clipped">
        <v-icon>web</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down" style="margin-right: 0;">
          <v-btn flat medium>
            <div class="btn-top-bar grey--text text--darken-2">
              <v-icon medium>person</v-icon> <br>
              <span style="text-transform: none !important;" class="block text-normal">Soporte</span>
            </div>
          </v-btn>
          <v-menu left offset-y max-height='300' min-widtg='100' origin='top left'>
            <v-btn slot="activator" flat medium>
                <div class="btn-top-bar grey--text text--darken-2">
                  <v-badge small color="red">
                    <span slot="badge">6</span>
                    <v-icon medium>notifications</v-icon>
                  </v-badge><br>
                    <span style="text-transform: none !important;" class="block text-normal">Notificaciones</span>
                </div>
                <br>
              </v-btn>
            <v-list two-line>
              <template v-for="(item, index) in notifications">
                <v-list-tile
                  :key="item.title"
                  avatar
                  ripple
                >
                  <v-list-tile-avatar>
                    <img src="@/assets/nube.jpeg" alt="atlas" height="40px" width="40px">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                     <v-subheader><v-btn icon><v-icon color='red' medium>close</v-icon></v-btn></v-subheader>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index +1 < notifications.length" :key="index"></v-divider>
              </template>
            </v-list>
          </v-menu>
          <v-menu offset-y transition="slide-y-transition">
          <v-btn slot="activator" flat medium>
            <div class="btn-top-bar grey--text text--darken-2">
              <v-icon mediun>person</v-icon>
            <br><span style="text-transform: none !important;" class="block text-normal">Cuenta</span>
            </div>
          </v-btn>
            <v-list>
              <v-list-tile @click="">
                <v-list-tile-title >Mi Cuenta</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="">
                <v-list-tile-title >Cerrar Sesión</v-list-tile-title>              
              </v-list-tile>
            </v-list>
          </v-menu>
        </v-toolbar-items>
      </v-toolbar>
    <v-content content-wrap>
      <v-container>
        <Card />
        <Table />
      </v-container>
    </v-content>
    <v-footer fixed class="hidden-md-and-up">
      <v-bottom-nav color="white" :value="true" :active.sync="e1" absolute>
        <v-btn value="recent">
          <span>Soporte</span>
          <v-icon color="grey darken-3">feedback</v-icon>
        </v-btn>
        <v-menu offset-y transition="slide-y-transition">
        <v-btn slot="activator" value="notifictions">
          <span>Notificaciones</span>
          <v-icon color="grey darken-3">notifications</v-icon>
          <v-badge small color="red">
          <span slot="badge">6</span>
           </v-badge>
        </v-btn>
        <v-list two-line>
              <template v-for="(item, index) in notifications">
                <v-list-tile
                  :key="item.title"
                  avatar
                  ripple
                >
                  <v-list-tile-avatar>
                    <img src="@/assets/nube.jpeg" alt="atlas" height="40px" width="40px">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                     <v-subheader><v-btn icon><v-icon color='red' medium>close</v-icon></v-btn></v-subheader>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index +1 < notifications.length" :key="index"></v-divider>
              </template>
            </v-list>
        </v-menu>
        <v-menu offset-y transition="slide-y-transition">
        <v-btn slot="activator" value="cuenta">
          <span>Cuenta</span>
          <v-icon color="grey darken-3">person</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile @click="">
            <v-list-tile-title >Mi Cuenta</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="">
            <v-list-tile-title >Cerrar Sesión</v-list-tile-title>              
          </v-list-tile>
        </v-list>
        </v-menu>
      </v-bottom-nav>
    </v-footer>
  </v-app>
</template>

<script>

import Table from './components/Table'
import Card from './components/Card'

export default {
  data () {
    return {
      clipped: false,
      drawer: true,
      subMenu: false,
      miniVariant: false,
      hidden: false,
      fixed: false,
      e1: 'recent',
      items: [
        {title: 'Cuentas', ico: 'account_balance_wallet'},
        {title: 'Cartolas', ico: 'account_balance'},
        {title: 'Entidades', ico: 'account_circle'},
        {title: 'Nominas', ico:'layers'},
        {title: 'Monitoreo',ico:'settings'},
        {title: 'Usuarios',ico:'group'}
      ],
      notifications: [
        {title: 'Notificacion 1'},
        {title: 'Notificacion 2'},
        {title: 'Notificacion 3'},
        {title: 'Notificacion 4'},
        {title: 'Notificacion 5'},
        {title: 'Notificacion 6'},
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
    }
  },
  name: 'App',
  components: {
    Table,
    Card
  }
}
</script>
